h1 {
  color: #0000FF;
  font-size: 50pt;
  text-align: center;
  font-family: fantasy;
}
ol {
  font-weight: 600;
  color: #0000FF;
  font-family: fantasy;
}
p{
  color: #0000FF;
  font-family: fantasy;
}
